<h1>Items</h1>

<%= for item <- @items do %>
<h3><%= item.shown %></h3>

<%= if item.shown do %>
<p style="color:green;">Shown</p>
<% else %>
<p style="color:red;">Hidden</p>
<% end %>

<hr>
        <% end %>